@using WebCache
<!DOCTYPE html>
<html>
<head>
	<title>WebCache</title>
	@Html.RenderBundle("Header")
</head>
<body>
	<h1>WebCache</h1>
	<a href="/">Request page again</a>
	@Html.RenderBundle("EndBody")
</body>
</html>